out/
.git/
IOPaint/.git/
IOPaint/.github/
IOPaint/assets/
IOPaint/scripts/
IOPaint/iopaint/tests/
IOPaint/web_app/src/
IOPaint/web_app/node_modules/
IOPaint/web_app/public/
IOPaint/web_app/*.json
IOPaint/web_app/*.js
IOPaint/web_app/*.ts
__pycache__/
*.tar.gz
*.zip
*.log
.DS_Store
